name: Go Test

on:
  pull_request:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event_name == 'push' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  go-tests: 
    runs-on: ubuntu-latest
    timeout-minutes: 5 # in minutes
    services:
      s3:
        image: localstack/localstack
        ports:
          - "127.0.0.1:4566:4566"
        env:
          SERVICES: "s3"
          DEFAULT_REGION: "us-east-1"
          S3_BUCKET: locals3
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test
        options: >-
          --health-cmd "awslocal s3 mb s3://locals3"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: './go.mod'
      - run: go version

      - name: Install dependencies
        run: go mod download

      - name: Test with the Go CLI
        run: go test ./host ./eth ./tele  
